<% include ../partials/header %>
<div class="container py-5">
    <div class="row mb-5">
        <div class="col-lg-12 mx-auto mb-5  text-center">
            <h1 class="display-3">Details of <%= sendObj.type %> Calls</h1>
        </div>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Call Type</th>
                <th>Customer Name</th>
                <th>Created At</th>
                <th>Link</th>
              </tr>
            </thead>
            <tbody>
              <% sendObj.calls.forEach(call=>{ %>
                 
                <tr>
                    <th><%= call.callType.callType %></th>
                    <td><%= call.customer.name %></td>
                    <td><%= call.createdAt.toLocaleDateString() %></td>
                    <td> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#a<%= call._id %>">
                        View Details
                      </button>
                    </td>
                </tr>
               
              <% });%>
              
            </tbody>
          </table>
    </div>
</div>
<!--Modals Generated For call view -->
<% sendObj.calls.forEach(call=>{%>
    <div class="modal fade"  id="a<%= call._id %>" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" style="min-width:80% ;" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" ><%= call.customer.name %>'s Call</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row mb-5">
                    
                    <div class="col-xl-2"></div>
                    <div class="col-xl-4 col-lg-6 mb-5 ">
                        <div class="card shadow-drk">
            
                            <div class="card-header "><img class="pending-call-card-img" src="/image/phone-blue.png"></div>
                            <div class="card-body">
            
                                <h4 class="card-title text-primary">Call Details</h4>
            
                                <div class="card-body pl-0 ">
                                    <h6><i class="fas fa-calendar-alt text-primary" style="font-size:22px;width:22px; "></i>
                                        Recieved
                                        Date: <b><%= call.createdAt.toLocaleDateString() %></b> </h6>
                                    <h6><i class="fas fa-clock text-primary" style="font-size:22px;width:22px;"></i> Recieved Time:
                                        <b><%= call.createdAt.toLocaleTimeString() %></b> </h6>
                                    <h6><i class="fas fa-phone-alt text-primary" style="font-size:22px;width:22px;"></i> Picked By:
                                        <b><%= call.createdBy.username %> </b> </h6>
                                    <h6><i class="fas fa-phone-alt text-primary" style="font-size:22px;width:22px;"></i> Call Type:
                                        <b><%= call.callType.callType %> </b> </h6>
                                    <p><i class="fas fa-clipboard text-primary" style="font-size:22px;width:22px;"></i> <b>Demand:
                                        </b><%= call.demand %></p>
            
                                </div>
            
            
                            </div>
                            <div class="card-footer  bg-primary"></div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 mb-5">
                        <div class="card  shadow-drk" style="height:100%">
            
                            <div class="card-header "><img class="pending-call-card-img" src="/image/user.png"></div>
            
                            <div class="card-body">
            
                                <h4 class="card-title text-primary">Customer Details</h4>
                                <div class="card-body">
                                    <h6><b> Name :</b><%=call.customer.name%></h6>
                                    <h6><b> Mobile No. : </b><%= call.customer.mobNo %> </h6>
                                    <h6><b> Email :</b> <%= call.customer.email %> </h6>
                                    <h6><b> Customer Type : <%= call.customer.customerType %> </b></h6>
                                </div>
            
                            </div>
                            <div class="card-footer  bg-primary"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             
            </div>
          </div>
        </div>
      </div>
<% });%>
<!--Modal Defination closed     -->
</body>
</html>