<% include ../partials/header %>
    <% var total=0, closed=0, pending=0; %>
    <% calls.forEach(call=>{
        total=total+1;
        if(call.closed){
            closed=closed+1;
        }else{
            pending=pending+1;
        }
    }) %>
    <h1>Engineer's HOME </h1>
    <div style="border:2px solid black;margin-bottom:10px">
        <h2> Calls Stats </h2>
        <ul>
            <li> Total Calls passed to you <b><%= total %></b> </li>
            <li>  <b><%= pending %></b> calls still Pending. </li>
            <li>  <b><%= closed %></b> calls are closed by you </li>
        </ul>

    </div>
    <div style="border:2px solid black;margin-bottom:10px;padding:20px;">
        <h2>All Pending Calls</h2>
        <% calls.forEach(call=>{%>
            <% if(!(call.closed)){ %>
                <div style="box-shadow:0px 0px 10px 4px #a1a1a1;margin-bottom:10px;display:inline-block;width:40%;margin-right:5px;text-align:center; ">
                    <h4>CallType:- <b><%= call.callType.callType  %></b></h4>
                    <p>Recieved By: <b><%= call.customer.name %></b></p>
                    <p><b>Demand : </b> <%= call.demand.slice(0,20) %>...... </p>
                    <p><b>Recieved At:- </b> <%= call.createdAt %> </p>
                    <p><a style="text-decoration:none;border:2px green solid;padding:5px;color:green " href="/engineer/call/<%= call._id %>">Handle Call</a></p>
                </div>
            <% } %>
        <% }); %>
    </div>
    </body>
</html>